@font-face {
    font-family: CallofDuty;
    src: url(CallOfOpsDuty-qAyq.ttf);
}
body {
    background-color: #000;
    color: white;
    margin:0;
}
.contain{
    width: 100%;
    margin: 0 auto;
}

header{
    background: grey;;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

    /* Logo */
.logo{
  line-height: 0;
  float: left;
  margin-left: 20px;
}

    /* Navigation Bar */
nav{
    float: right;
    display: flex;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

nav li{
    line-height: 0.5;
    float: left;
    font-family: CallofDuty;
    font-size: 26px;
    margin-right: 10px;
}

nav li a{
    text-align: left;     
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 35px 30px;   
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;

}
.intro h1 {
    text-align: center;
    color: #f2f2f2;
    padding-top:1%;
    padding-bottom: -8%;
    font-family:  Call Of Ops Duty;
    font-size: 35px;
}  
.group h1 {
    text-align: center;
    color: #f2f2f2;
    padding-top:8%;
    padding-bottom: -8%;
    font-family:  Call Of Ops Duty;
    font-size: 35px;
}  
.game {
  float: left;
  position: relative;
  margin-left: 19%;
  margin-top: 8%;
  margin-bottom: 5%;
  transition: 1s;
}

.game:hover{
    transform: scale(1.3);
    
}
.cod_games::after {
  content: "";
  clear: both;
  display:table;
}
.face{
  float: left;
  position: relative;
  margin-left: 28%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 1s;
}
.face:hover{
    transform: scale(1.3);
    
}
.groups::after {
  content: "";
  clear: both;
  display:table;
}
.info h2{
    font-family: Major League Duty;
    letter-spacing: 3px;
}
.info p{
    font-family: Calibri;
    font-size: 18px;
}


.icon img{
    margin-top: 2%;
}
div.list a {
    color: white;
    text-decoration: none;
}

div.list {
    font-family: Calibri;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

div.list ul li {
    color: #fff;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 30px 30px;  
}
.logo2 img{
    margin-top: 4%;
    padding: 0 10px 0 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.linee hr{
    margin-top: 13%;
}


